/* declares color variables */
:root {
  --background-dark: #a27b5c;
  --background-light: #2c3639;
  --light: #dcd7c9;
  --header: #1b1e20;
  --accent: #78938a;
}
/* sets font family and box sizes */
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* creates margin space for floating header, sets position as relative so that the footer can be placed in an absolute position */
body {
  margin: 6rem 0 0 0;
  color: var(--accent);
  background-color: var(--background-light);
  line-height: 1.4rem;
  position: relative;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
  color: var(--accent);
}

p {
  color: var(--accent);
}
/* main header fixed even while scrolling, creates a flex container to align h1 and ul horizontally and space them */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--header);
  color: var(--accent);
}
/* styles nav bar links */
nav a {
  font-weight: bold;
  margin: 1.2rem;
  font-size: 1.8vw;
}
/* creates a flex container within ul to display the three li's horizontally */
.main-header nav ul {
  display: flex;
  justify-content: space-between;
}
/* creates a flex container to display img and div horizontally */
.about-me {
  display: flex;
  padding: 1rem;
  margin-top: 30vh;
  margin-bottom: 20vh;
  background-color: var(--background-light);
  color: var(--header);
}
/* sizes and styles headshot */
.about-me img {
  align-self: center;
  width: 25%;
  height: auto;
  padding: 10px;
  border-radius: 50%;
}
/* pads About Me sub-header from its p sibling */
.about-me h2 {
  padding: 1rem 0 1rem 0;
  color: var(--accent);
}
.about-me div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/* My Work heading takes up 100% width of the page */
#my-projects {
  width: 100%;
  padding: 1.5rem;
  margin-top: 2vh;
  text-align: end;
}
/* creates a flex container to display and space the project cards horizontally */
.projects {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}
/* styles project cards and establishes them as flex containers, each displaying their contents in columns */
.project-card {
  max-height: 80vh;
  width: 100%;
  /* border: 2px solid var(--header); */
  /* border-radius: 5%;
  box-shadow: 1vh 1vh 5px; */
  padding: 1vw;
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: var(--background-light);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
}

.card-text-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

/* styles header text for project cards */
.project-card h2 {
  text-align: center;
  /* background-color: var(--header); */
  color: var(--accent);
  font-size: 2vw;
  padding: 1rem;
}

.card-img {
  width: 45%;
}

/* Align-self:center holds aspect ratio of images in cards */
.project-card img {
  padding: 5px;
  max-width: 90%;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}
/* styles p text on project cards */
.project-card p {
  padding: 1vh;
  align-self: center;
  justify-self: end;
  font-size: 1.5vw;
  line-height: 6vh;
}
/* sets project cards marked with complete-projects id to display larger than incomplete projects */
/* #complete-projects {
  width: 40%;
} */
/* displays footer at bottom of page and styles colors/padding */
footer {
  display: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--header);
  color: var(--accent);
  text-align: end;
  padding: 1rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.credit {
  display: flex;
  align-items: flex-end;
  text-align: left;
  color: var(--background-light);
}
.credit a {
  text-decoration: none;
  color: var(--background-light);
}

#contact {
  font-size: 1.8vw;
}
/* colors all links consistently and removes underlining */
a {
  text-decoration: none;
  color: var(--background-dark);
}

/* media queries for responsive layout - at a specific viewport width and lower, the following rules apply */
/* 820px and lower */
@media screen and (max-width: 820px) {
  /* stacks h1 over nav in a column */
  header {
    flex-direction: column;
  }
  /* resizes h1 font to fit smaller screen without using 2 lines */
  header h1 {
    font-size: 6vw;
  }
  /* resizes li's to fit smaller screen without using 2 lines */
  nav ul li a {
    font-size: 3.5vw;
  }
  /* stacks headshot and about me text in a column */
  .about-me {
    flex-direction: column;
  }
  /* sizes headshot to fill screen */
  .about-me img {
    width: 60%;
  }
  /* stacks project cards in a column */
  .projects {
    flex-direction: column;
    align-items: center;
  }
  /* sizes project cards to fill the screen and space from one another */
  .project-card,
  #complete-projects {
    width: 90%;
    margin-top: 30vh;
    margin-bottom: 20vh;
  }

  .card-img {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* sizes project card headers to fit expanded project cards */
  .project-card h2 {
    width: 90%;
    align-self: center;
    font-size: 4vw;
  }
}
/* shrinks nav bar text at 436px and lower */
@media screen and (max-width: 436px) {
  nav ul li a {
    font-size: 2.8vw;
  }
}
/* shrinks nav bar text at 280px and lower */
@media screen and (max-width: 280px) {
  nav ul li a {
    font-size: 2vw;
  }
}
