:root {
  --background-dark: #a26565;
  --background-light: #c3dbd9;
  --header: #233454;
  --accent: #78938a;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* creates margin space for floating header, sets position as relative so that the footer can be placed in an absolute position */
body {
  margin: 6rem 0 0 0;
  color: var(--header);
  background-color: var(--background-dark);
  line-height: 1.4rem;
  /* min-height: 150vh; */
  position: relative;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}

/* styles nav bar links */
nav a {
  /* color: #78938a; */
  font-weight: bold;
  margin: 1.2rem;
  font-size: 1.8vw;
}
/* main header fixed even while scrolling, creates a flex container to align h1 and ul horizontally and space them */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--header);
  color: var(--accent);
}
/* creates a flex container within ul to display the three lis horizontally */
.main-header nav ul {
  display: flex;
  justify-content: space-between;
}

/* creates a flex container to display img and div horizontally */
.about-me {
  display: flex;
  padding: 1rem;
  background-color: var(--background-light);
  color: var(--header);
}
/* holds the img at a maximum width */
.about-me img {
  align-self: center;
  width: 25%;
  height: auto;
  padding: 10px;
  /* image distorts at 1192px vw and smaller */
  /* padding-top: 56.25%; */
}

.about-me h2 {
  padding: 1rem 0 1rem 0;
}
/* creates a flex container to display and space the project cards horizontally */
.projects {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}
/* my-work heading takes up 100% width of the page */
.my-work {
  width: 100%;
  padding: 1.5rem;
  margin-top: 2vh;
  text-align: end;
}

.projects h2 {
  width: 100%;
  text-align: end;
}

.projects a {
  justify-content: space-evenly;
}
/* styles project cards and establishes them as flex containers, each displaying their contents in columns */
.project-card {
  height: 35%;
  width: 25%;
  border: 2px solid var(--header);
  border-radius: 5%;
  box-shadow: 1vh 1vh 5px;
  padding: 1vw;
  background-color: var(--background-light);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-card h2 {
  text-align: center;
  background-color: var(--header);
  color: var(--background-light);
  font-size: 1.8vw;
  padding: 1rem;
}

.project-card img {
  padding: 5px;
  max-width: 90%;
  align-self: center;
  justify-self: center;
}

.project-card p {
  padding: 1vh;
  align-self: center;
  justify-self: end;
}
/* holds footer at bottom of page (below viewport) */
footer {
  /* position: absolute; */
  display: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--header);
  color: var(--accent);
  text-align: end;
  padding: 1rem;
}

#contact {
  font-size: 1.8vw;
}
/* colors all links consistently and removes underlining */
a {
  text-decoration: none;
  color: var(--background-dark);
}

/* media query for responsive layout */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  .about-me {
    flex-direction: column;
  }
  .about-me img {
    width: 90%;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }
  .project-card {
    width: 90%;
    margin-bottom: 20px;
  }
  .project-card h2 {
    width: 90%;
    align-self: center;
    font-size: 4vw;
  }
}
