* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /* border: 2px solid #92ba92; */
}

body {
  margin: 0;
  background-color: #a26565;
  line-height: 1.4rem;
  /* background-color: #FBF8F1; */
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #13293d;
  color: #78938a;
}

.main-header nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

h1 {
  font-size: 300%;
}

.about-me {
  display: flex;
  padding: 1rem;
  background-color: #c3dbd9;
  color: #13293d;
}

.about-me img {
  max-width: 20%;
  padding: 1rem;
}

.about-me h2 {
  padding: 1rem 0 1rem 0;
}

h2 {
  font-size: 160%;
}

.block {
  display: block;
}

h3 {
  font-size: 100%;
}

nav a {
  display: inline-block;
  color: #78938a;
  font-weight: bold;
  text-decoration: none;
  margin: 1.2rem;
  font-size: 160%;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #13293d;
  color: #78938a;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #a26565;
}
